/* IMPORT FONT (CODE TAKEN FROM GOOGLE FONTS) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body {
    background-color: #402C13;
    font-family: 'Playfair Display', cursive;
    font-style: italic;
}

/* HEADER STYLING */
header {
    position: fixed;
    top: 0;
    min-width: 100vw;
    height: 75px;
    background-color: black;
    color: #DFA201;
    text-transform: capitalize;
    z-index: 10;
}

#logo {
    position: inherit;
    display: inline;
    float: left;
    top: 15px;
    left: 15px;
    font-size: 100%;
}

#nav-bar {
    position: inherit;
    top: 3.5vh;
    right: 0;
    width: 380px;
    float: right;
    background: black;
}

#nav-menu {
    list-style-type: none;
    margin: 0 15px 35px 0;
}

#nav-menu li a {
    text-align: center;
    padding-left: 6px;
}

.current-page {
    border: 2px solid #DFA201;
    border-radius: 5px;
}

header a {
    position: relative;
    color: #DFA201;
    text-decoration: none;
    float: right;
    padding-right: 10px;
}

#nav-dropdown {
    background-color: rgba(0, 0, 0, 0);
    color: #DFA201;
    border: 2px solid #DFA201;
    border-radius: 5px;
    font-family: 'Playfair Display', sans-serif;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    float: right;
    margin-right: 20px;
    display: none;
}

/* FOOTER STYLING */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 75px;
    background-color: black;
    z-index: 10;
}

#media-links {
    position: relative;
    float: left;
    top: 20px;
}

#media-links a {
    color: #DFA201;
    padding-left: 20px;
}

#media-links i {
    font-size: 200%;
}

#footer-contact-link {
    position: relative;
    float: right;
    top: 5px;
    right: 15px;
    text-decoration: none;
    padding: 0 10px 0px 10px;
    color: #DFA201;
    font-size: 120%;
}



/* HOMEPAGE STYLING */
#home-bg {
    position: absolute;
    top: 75px;
    width: 100vw;
    min-height: calc(100vh - 150px);
    background-image: url(../images/terras-table_1920-900.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ABOUT STYLING */
#about {
    text-align: center;
}

#about-img {
    position: fixed;
    top: 12vh;
    float: left;
    left: -4px;
    max-height: 76vh;
    width: auto;
    border-radius: 0 20px 20px 0;
    border: 4px solid black;
}

#about-txt {
    position: relative;
    top: 75px;
    float: right;
    right: 5vw;
    max-width: 65vw;
    color: #cac2ab;
    font-size: 95%;
    height: auto;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
}

#about h2 {
    font-size: 250%;
    margin-top: 75px;
    padding-bottom: 20px;
}

#about p {
    position: relative;
    font-size: 175%;
    width: 100%;
    margin-bottom: 75px;
}

/* MENU STYLING */
#menu {
    min-height: auto;
}

#menu h3 {
    font-size: 250%;
    padding-top: 10px;
}
#menu p {
    font-size: 150%;
}
    /* MENU SIDEBAR STYLING */
#sidebar {
    position: fixed;
    top: 12vh;
    float: left;
    left: -4px;
    height: 74vh;
    width: 130px;
    background-color: #B3A375;
    color: #23170B;
    border-radius: 0 20px 20px 0;
    border: 4px solid black;
    text-align: center;

    animation-name: slide-bar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
    /* SETUP SIDEBAR ANIMATION */
    @keyframes slide-bar {
        from    {left: -130px;}
        to      {left: -4px;}
    }

#sidebar ul {
    position: relative;

}

#sidebar li {
    margin-top: 65px;
    text-align: center;

}

#sidebar a {
    color: #402C13;
    text-decoration: none;
    font-size: 150%;
    min-width: 150px;
    padding: 0 10px 0 10px;

}

#sidebar a:hover {
    border: 2px solid #23170B;
    border-radius: 5px;
}

    /* MENU SECTION STYLING */
.menu-section-wrapper {
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

#starters-txt {
    min-height: 100vh;
    position: absolute;
    top: 12vh;
    margin-left: 20%;
    text-align: center;
    color: #cac2ab;
}

#starters-img {
    position: absolute;
    top: 12vh;
    float: right;
    right: -4px;
    max-height: 74vh;
    width: auto;
    border-radius: 20px 0 0 20px;
    border: 4px solid black;    
}

    /* MAINS SECTION STYLING */


#mains-txt {
    min-height: 100vh;
    position: absolute;
    top: 112vh;
    margin-left: 20%;
    text-align: center;
    color: #cac2ab;
}

#mains-img {
    position: absolute;
    top: 112vh;
    float: right;
    right: -4px;
    max-height: 74vh;
    width: auto;
    border-radius: 20px 0 0 20px;
    border: 4px solid black;   
}

    /* DESERTS SECTION STYLING */

#deserts-txt {
    min-height: 100vh;
    position: absolute;
    top: 212vh;
    margin-left: 20%;
    text-align: center;
    color: #cac2ab;
}

#deserts-img {
    position: absolute;
    top: 212vh;
    float: right;
    right: -4px;
    max-height: 74vh;
    width: auto;
    border-radius: 20px 0 0 20px;
    border: 4px solid black;   
}

    /* DRINKS SECTION STYLING */


#drinks-txt {
    min-height: 100vh;
    position: absolute;
    top: 312vh;
    margin-left: 20%;
    text-align: center;
    color: #cac2ab;
}

#drinks-img {
    position: absolute;
    top: 312vh;
    float: right;
    right: -4px;
    max-height: 74vh;
    width: auto;
    border-radius: 20px 0 0 20px;
    border: 4px solid black;   
}

    /* BITES SECTION STYLING */


#bites-txt {
    min-height: calc(100vh - 150px);
    position: absolute;
    top: 412vh;
    margin-left: 20%;
    text-align: center;
    color: #cac2ab;
}

#bites-img {
    position: absolute;
    top: 412vh;
    float: right;
    right: -4px;
    max-height: 74vh;
    width: auto;
    border-radius: 20px 0 0 20px;
    border: 4px solid black;   
}

/* GALLERY STYLING */
#gallery {
    position: absolute;
    top: 10vh;
    line-height: 0;
    column-count: 3;
    column-gap: 10px;
}

#gallery img{
    width: 100%;
    margin: 5px 0 5px 0;
}

/* CONTACT STYLING */

#contact-wrapper {
   min-height: 100vh;
   height: auto;
   width: 100vw;
}

#contact h4 {
    font-size: 150%;
}
#contact h5 {
    font-size: 100%;
}

#iframe-wrapper {
    position: relative;
    width: 600px;
    height: 400px;
    top: 100px;
    left: -4px;
    border: 4px solid black;
    border-radius: 0 20px 20px 0;
    overflow: hidden;

}

#adress-wrapper {
    position: relative;
    top: 120px;
    left: -4px;
    height: 140px;
    width: 600px;
    border: 4px solid black;
    border-radius: 0 20px 20px 0;
    background-color: #B3A375;

}

#adress {
    position: relative;
    float: left;
    left: 5vw;
    top: 20px;
}

#contact-info {
    position: relative;
    float: left;
    left: 10vw;
    top: 20px;
}

#form-wrapper {
    position: absolute;
    top: 100px;
    float: right;
    right: -4px;
    width: 600px;
    height: 560px;
    border: 4px solid black;
    border-radius: 20px 0 0 20px;
    background-color: #B3A375;
    color: black;
    margin-bottom: auto;
}

#form-header {
    height: 50px;
    width: auto;
    font-size: 200%;
    text-align: center;
    margin-bottom: 40px;
}

form label{
    position: relative;
    max-width: 300px;
    left: 30px;
    font-size: 200%;
}

form input {
    position: absolute;
    width: 310px;
    left: 240px;
    font-size: 155%;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
}

form p {
    position: relative;
    top: 25px;
    text-align: center;
    font-size: 150%;
    padding-top: 50px;
}

/* RESPONSIVE DESIGN */

    /* NAV-BAR */
@media screen  {
    @media (max-width: 650px) {
        #nav-menu               { display: none; }
        #nav-dropdown           { display: inline-block;}
        #nav-bar                { width: auto;}  
      }
}
@media screen  {
    @media (max-width: 420px) {
        #logo                   {top: 5px; font-size: 80%; max-width: 50%; text-align: center;}
    }
}


    /* FOOTER */
@media screen  {
     @media (max-width: 420px) {
        #footer-contact-link    {font-size: 80%; top: 10px;}
        #media-links i          {font-size: 126%; padding-left: 0;}
    }
}

    /* ABOUT PAGE */
 @media screen  {
     @media (max-width: 1200px) {
         #about-txt                 { font-size: 80%;
                                        right: 10vw;
                                        margin: 10px;
                                        max-width: 50vw;
                                    }
      }
}   

@media screen  {
    @media (max-width: 1024px) {
        #about-txt                  { font-size: 80%;
                                        right: 5vw;
                                        margin: auto;
                                        padding-bottom: 5px;
                                        max-width: 50vw;
                                    }
        #about-txt h2               {padding-bottom: 5px;}
     }
}   

@media screen  {
    @media (max-width: 800px) {
        #about-txt                  { max-width: 40vw;}
    }   
}

@media screen  {
    @media (max-width: 650px) {
        #about-img              {position: relative; 
                                    max-height: 65vh;
                                    width: auto;
                                    top: 100px;
                                }
        #about-txt              {float: none; 
                                    max-width: 40vw;
                                    margin-left: 45px;
                                    top: 50px;
                                    padding-bottom: 5px;
                                    min-width: 80vw; 
                                    font-size: 60%;
                                }
     }
}   

    /* MENU PAGE */


    /* GALLERY */
@media screen  {
    @media (max-width: 1024px) {
        #gallery             {column-count: 2;}
        }
}   

@media screen  {
    @media (max-width: 600px) {
        #gallery             {column-count: 1;}
        }
}   

@media screen  {
    @media (max-width: 1200px) {
        #form-wrapper         { position: relative;
                                right: -4px;
                                float: right;
                                overflow-x: hidden;
                                margin-top: 40px;
                                margin-bottom: 200px;}
        }
}   

@media screen  {
    @media (max-width: 600px) {
        #iframe-wrapper, #adress-wrapper, #form-wrapper {max-width: 90vw;}
        #adress-wrapper, #form-wrapper {font-size: 80%;}      
    }
}