/* IMPORT FONT (CODE TAKEN FROM GOOGLE FONTS) */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* INITIAL SITE WIDE STYLING */
* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    z-index: 0;
}

body {
    background-color: #402C13;
    font-family: 'Playfair Display', cursive;
    font-style: italic;
}

/* HEADER STYLING */
    /* header is always visible at the top of the screen all pages */
header {
    position: fixed;
    top: 0;
    min-width: 100vw;
    height: 75px;
    background-color: black;
    color: #DFA201;
    text-transform: capitalize;
    z-index: 10;
}
    /* link to home page on left side of header */
#logo {
    position: inherit;
    display: inline;
    float: left;
    top: 15px;
    left: 15px;
    font-size: 100%;
}
    /* main site navigation (unordered list) on right hand side of header */
#nav-bar {
    position: inherit;
    top: 25px;
    right: 0;
    width: 380px;
    float: right;
    background: black;
}

#nav-menu {
    list-style-type: none;
    margin: 0 15px 35px 0;
}

#nav-menu h2 {
    font-size: 115%;
}

#nav-menu li a {
    text-align: center;
    padding-left: 6px;
}

.current-page {
    border: 2px solid #DFA201;
    border-radius: 5px;
}

header a {
    position: relative;
    color: #DFA201;
    text-decoration: none;
    float: right;
    padding-right: 10px;
}
    /* dropdown menu only visible at lower resolutions */
#nav-dropdown {
    background-color: rgba(0, 0, 0, 0);
    color: #DFA201;
    border: 2px solid #DFA201;
    border-radius: 5px;
    font-family: 'Playfair Display', sans-serif;
    font-size: larger;
    font-style: italic;
    font-weight: bold;
    float: right;
    margin-right: 20px;
    display: none;
}

.header-spacing {
    position: relative;
    clear: both;
    top: 0;
    height: 75px;
}

/* FOOTER STYLING */
    /* footer is always visible at the bottom of the screen all pages */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 75px;
    background-color: black;
    z-index: 10;
}
    /* social media icons on left side of footer */
#media-links {
    position: relative;
    float: left;
    top: 20px;
}

#media-links a {
    color: #DFA201;
    padding-left: 20px;
}

#media-links i {
    font-size: 200%;
}
    /* link to contact page on right hand side of footer */
#footer-contact-link {
    position: relative;
    float: right;
    top: 5px;
    right: 15px;
    text-decoration: none;
    padding: 0 10px 0px 10px;
    color: #DFA201;
    font-size: 120%;
}

.footer-spacing {
    position: initial;
    clear: both;
    bottom: 0;
    height: 75px;
}

/* HOMEPAGE STYLING */
    /* homepage background image */
#home-bg {
    position: absolute;
    top: 75px;
    width: 100vw;
    min-height: calc(100vh - 150px);
    background-image: url(../images/terras-table_1920-900.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ABOUT STYLING */
#about {
    text-align: center;
}
    /* stick image to left hand side of screen and set borders */
#about-img {
    position: fixed;
    top: 90px;
    float: left;
    left: -4px;
    max-height: 76vh;
    width: auto;
    border-radius: 0 20px 20px 0;
    border: 4px solid black;
}
    /* keep text to the right of screen */
#about-txt {
    position: relative;
    top: 0;
    float: right;
    right: 10vw;
    max-width: 65vw;
    color: #cac2ab;
    font-size: 95%;
    height: auto;
    overflow-y: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 75px;
    clear: both;
}

#about h2 {
    font-size: 250%;
    /* margin-top: 75px; */
    padding-bottom: 50px;
}

#about p {
    position: relative;
    font-size: 175%;
    width: 100%;
    margin-bottom: 75px;
}

/* MENU STYLING */
    /* menu pages consisting of five sections, one per category */
#menu {
    min-height: auto;
}

#menu h2 {
    font-size: 375%;
    padding-top: 5px;
    color: #DFA201;
}

#menu h3 {
    font-size: 250%;
    padding-top: 10px;
}

#menu p {
    font-size: 150%;
}

/* MENU SIDEBAR STYLING */
    /* secondary navigation menu stuck to the left hand side for navigating between menu sections */
#sidebar {
    position: fixed;
    top: 12vh;
    float: left;
    left: -4px;
    height: 76vh;
    width: 105px;
    background-color: #B3A375;
    color: #23170B;
    border-radius: 0 20px 20px 0;
    border: 4px solid black;
    text-align: center;
    z-index: 10;
    /* side bar animates on load to enter screen from the left */
    animation-name: slide-bar;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

    /* setup side bar animation */
@keyframes slide-bar {
    from {
        left: -130px;
    }

    to {
        left: -4px;
    }
}

#sidebar ul {
    position: relative;
    height: 10%;
    top: 4vh;
}

#sidebar li {
    margin-top: 5vh;
    margin-bottom: 5vh;
    text-align: center;
}

#sidebar a {
    color: #402C13;
    text-decoration: none;
    font-size: 130%;
    min-width: 150px;
    padding: 0 10px 0 10px;
}

#sidebar a:hover {
    border: 2px solid #23170B;
    border-radius: 5px;
}

/* MENU SECTION STYLING */
    /* 5 menu sections consisting of an image two headers and and paragraph each */
.menu-section-wrapper {
    min-height: 100vh;
    width: 100%;
    clear: both;
    overflow-x: hidden;
}

.menu-section-txt {
    position: relative;
    max-height: 74vh;
    height: fit-content;
    width: 53vw;
    float: left;
    left: 115px;
    top: 90px;
    text-align: center;
    color: #cac2ab;
    clear: both;
}
    /* example image stuck to the right of the screen */
.menu-section-img {
    position: relative;
    float: right;
    top: 90px;
    right: -4px;
    max-height: 76vh;
    width: auto;
    border-radius: 20px 0 0 20px;
    border: 4px solid black;
    margin:0 0 50px 0;
}

/* GALLERY STYLING */
    /* collectionof photographs aranged allong a 'masonry' patern */
#gallery {
    position: absolute;
    top: 10vh;
    line-height: 0;
    column-count: 3;
    column-gap: 10px;
}

#gallery img {
    width: 100%;
    margin: 5px 0 5px 0;
}

/* CONTACT STYLING */
#contact-wrapper {
    min-height: calc(100vh - 150px);
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#contact h3 {
    font-size: 140%;
}

#contact h4 {
    font-size: 90%;
}
    /* iframe containing google map stuck to the left hand side */
#iframe-wrapper {
    position: relative;
    width: 600px;
    height: 50vh;
    top: 15px;
    left: -4px;
    border: 4px solid black;
    border-radius: 0 20px 20px 0;
    overflow: hidden;

}

iframe {
    width: 600px;
    height: 50vh;
}
    /* section containing adres & contact information */
#adress-wrapper {
    position: relative;
    top: 45px;
    left: -4px;
    min-height: 20vh;
    width: 600px;
    border: 4px solid black;
    border-radius: 0 20px 20px 0;
    background-color: #B3A375;
    font-size: 140%;
    font-weight: normal;

}

#adress {
    position: relative;
    float: left;
    left: 50px;
    top: 15px;
}

#contact-info {
    position: relative;
    float: left;
    left: 75px;
    top: 15px;
}
    /* section containing a contact form */
#form-wrapper {
    position: absolute;
    top: 90px;
    right: 0;
    width: 600px;
    height: 74vh;
    border: 4px solid black;
    border-width: 4px 0 4px 4px;
    border-radius: 20px 0 0 20px;
    background-color: #B3A375;
    color: black;
    margin-bottom: auto;
}

#form-header {
    height: 50px;
    width: auto;
    font-size: 200%;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 40px;
}

form label {
    position: relative;
    max-width: 300px;
    left: 30px;
    font-size: 200%;
}

form input {
    position: absolute;
    width: 310px;
    left: 240px;
    font-size: 155%;
    margin-top: 5px;
    border: 2px solid black;
    border-radius: 5px;
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
}

form p {
    position: relative;
    text-align: center;
    font-size: 150%;
    padding-top: 50px;
}

/* 404 PAGE STYLING */
    /* custom 404 image */
#oops-bg {
    position: absolute;
    top: 75px;
    width: 100vw;
    min-height: calc(100vh - 150px);
    background-image: url(../images/oops.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
    /* link back to homepage */
#oops-bg a {
    position: relative;
    top: 62vh;
    font-size: 200%;
    text-decoration: none;
    background-color: #B3A375;
    color: #23170B;
    padding: 3px;
    border: 2px solid #23170B;
    border-radius: 5px;
}

/* RESPONSIVE DESIGN */

/* NAV-BAR */
    /* hide replace nav bar with dropdown menu at lower resolutions */
@media screen {
    @media (max-width: 650px) {
        #nav-menu {
            display: none;
        }

        #nav-dropdown {
            display: inline-block;
        }

        #nav-bar {
            width: auto;
        }
    }
}
    /* adjust font and positioning */
@media screen {
    @media (max-width: 420px) {
        #logo {
            top: 15px;
            font-size: 70%;
            max-width: 50%;
            text-align: center;
        }
    }
}


/* FOOTER */
    /* adjust font and positioning */
@media screen {
    @media (max-width: 420px) {
        #footer-contact-link {
            font-size: 80%;
            top: 10px;
        }

        #media-links i {
            font-size: 126%;
            padding-left: 0;
        }
    }
}

/* ABOUT PAGE */
    /* adjust font and positioning */
@media screen {
    @media (max-width: 1600px) {
        #about-txt {
            font-size: 80%;
            right: 2.5%;
            margin: 10px;
            max-width: 50vw;
        }
    }
}
    /* adjust image size */
@media screen {
    @media (max-height: 1400px) {
        #about-img {
            max-width: 45vw;
        }
    }
}
    /* adjust font and positioning */
@media screen {
    @media (max-width: 1024px) {
        #about-txt {
            font-size: 80%;
            right: 5vw;
            margin: auto;
            padding-bottom: 5px;
            max-width: 50vw;
        }

        #about-txt h2 {
            padding-bottom: 5px;
        }
    }
}

@media screen {
    @media (max-width: 800px) {
        #about-txt {
            max-width: 40vw;
        }
    }
}

@media screen {
    @media (max-width: 650px) {
        #about-img {
            position: relative;
            max-height: 65vh;
            width: auto;
            top: 100px;
        }

        #about-txt {
            float: none;
            max-width: 40vw;
            margin-left: 45px;
            top: 50px;
            padding-bottom: 5px;
            min-width: 80vw;
            font-size: 60%;
        }
    }
}

/* MENU PAGE */
    /* adjust image size and positioning */
@media screen {
    @media (max-width: 1250px) {
        .menu-section-img {
            top: 90px;
        }

        .menu-section-txt {
            max-width: 50%;
        }

        #menu p {
            font-size: 100%;
        }
    }
}
    /* adjust font and positioning */
@media screen {
    @media (max-width: 1150px) {
        .menu-section-txt {
            width: 80%;
            float: none;
            left: 0;
            margin-right: auto;
            margin-left: auto;
        }

        .menu-section-img {
            clear: both;
            top: 150px;
            max-width: calc(100vw - 145px);
            height: auto;
        }

        #menu h3 {
            font-size: 190%;
            padding-top: 10px;
        }

        #menu p {
            font-size: 90%;
        }
    }
}
    /* adjust font and positioning */
@media screen {
    @media (max-width: 850px) {
        .menu-section-txt {
            left: 52.5px;
        }
        .menu-section-img {
            clear: both;
            margin-top: 150px;
        }

        #menu h2 {
            font-size: 240%;
        }

        .menu-section-img {
            top: 100px;
            margin: 50px 0 50px 0;
        }
    }
}
    /* adjust font and positioning */
@media screen {
    @media (max-width: 330px) {
        #menu h3 {
            font-size: 150%;
        }
        #menu p {
            font-size: 90%;
        }

        .menu-section-img {
            top: 100px;
        }

        #side-bar {
            font-size: 10%;
        }
    }
}

@media screen {
    @media (max-height: 650px){
        #sidebar {
            max-height: 70vh;
            top: 16vh;
        }
    }
}

/* GALLERY PAGE */
    /* change column count */
@media screen {
    @media (max-width: 1024px) {
        #gallery {
            column-count: 2;
        }
    }
}

@media screen {
    @media (max-width: 600px) {
        #gallery {
            column-count: 1;
        }
    }
}

/* CONTACT PAGE */
    /* adjust font and positioning */
@media screen {
    @media (max-width: 1200px) {
        #form-wrapper {
            position: relative;
            right: -4px;
            float: right;
            overflow-x: hidden;
            margin-top: 65px;
            margin-bottom: 200px;
            height: fit-content;
        }
    }
}

@media screen {
    @media (max-width: 600px) {

        #iframe-wrapper,
        #adress-wrapper,
        #form-wrapper {
            max-width: 95vw;
        }

        #adress-wrapper {
            font-size: 100%;
        }

        #form-wrapper {
            font-size: 70%;
            height: fit-content;
        }

        #form-wrapper label {
            left: 5px;
        }

        #form-wrapper input {
            font-size: 110%;
            left: 48vw;
            max-width: 120px;
        }

        #form-wrapper p {
            top: -25px;
        }
    }
}

@media screen {
    @media (max-height: 700px) {
        #adress-wrapper {
            min-height: 26vh;
        }
        #form-wrapper {
            height: fit-content;
        }
    }
}

@media screen {
    @media (max-width: 475px) {
        #adress {
            left: 10px;
            font-size: 100%;
        }
        #contact-info {
            left: 15px;
            font-size: 100%;
        }
        #form-wrapper label {
            font-size: 150%;
        }
    }
}

@media screen {
    @media (max-width: 400px) {
        #adress {
            left: 15px;
            font-size: 80%;
        }
        #contact-info {
            top: 20px;
            left: 15px;
            font-size: 80%;
        }
    }
}